#root {
  position: relative;
  height: 3000px;
}

body {
  position: relative;
  margin: 0px auto;
  font-family: "Avenir";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Avenir";
}



/* Nav Bar Styling */

.nav {
  position: absolute;
  width: 200px;

  font-size: 24px;

  text-align: center;
  margin-left: 40px;

}

.nav-items {
  color: black;
  text-decoration: none;
  font-weight: bold;
    text-align: center;
}

.seasons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 150px;

  font-size: 24px;
}

.currentDesigner {

  text-align: center;
  font-size: 20px;

  margin: 0px;
}

.seasonInd:hover{
  color: rgb(143, 143, 143); 
}


/* Designer Left Column Styling */

.sideNav {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.itemContainer{

  position: absolute;

  top: 150px;
  left: 400px;

}

.designerColumn {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; 

  width: 200px;
  margin-left: 40px;

}

.formDiv {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 

  width: 200px;

  margin-right: 40px;
}

.designerName{

  display: flex;
  flex-direction: column;
  align-items: center;
}

.designerDelete{

               appearance: none;
               background-color: #FAFBFC;
               border: 1px solid rgba(27, 31, 35, 0.15);
               border-radius: 6px;
               box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
               box-sizing: border-box;
               color: #24292E;
               cursor: pointer;
               display: inline-block;
               font-size: 10px;
               font-weight: 500;
               line-height: 4px;
      
               list-style: none;
               padding: 6px 16px;
               position: relative;
               transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
               user-select: none;
               -webkit-user-select: none;
               touch-action: manipulation;
               vertical-align: middle;
               white-space: nowrap;
               word-wrap: break-word;
            
}

.designerDelete:hover {
  /* color: rgb(143, 143, 143); */

  background-color: #F3F4F6;
                text-decoration: none;
                transition-duration: 0.1s;
}


/* Designer Items Display */

.designerItemsDisplay {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    width: 850px;

}

.item {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 


  border-style: solid;
  border-width: 1px;

  width: 100px;
  margin: 10px;
}

.itemEdit {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 

  margin: 10px;


}

.itemText {

  text-align: center;
  font-weight: normal;
}

.editButton{

  margin: 15px;
}

.editMode{
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 5px;
  margin-right: 5px;
}


/* Add Item Form Styling */

.form {

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 200px;
}

.adding{

  font-style: italic;
  font-size: 14px;

  margin-top: 0px;
  margin-bottom: 15px;
}

.addTitle{

  margin: 9px;
}

