#root {
  position: relative;
  /* margin: 0 auto; */
  height: 3000px;
}

body {
  position: relative;
  margin: 0px auto;
  font-family: "Avenir";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Avenir";
  /* display: flex;
  justify-content: center;
} */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Nav Bar Styling */

.nav {
  position: fixed;
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  /* position: fixed; */
  /* margin: auto; */
  /* text-align: center; */

  /* margin-bottom: 0px;
  margin-left: 364.5px;
  margin-right: 364.5px;
  margin-top: 0px; */


  width: 200px;

  font-size: 24px;

  text-align: center;
  margin-left: 40px;
  
  /* border-color: black;
  background-color: rgb(255, 255, 255);
  font-family: "Avenir";
  
  color: black; */
}

.nav-items {
  color: black;
  text-decoration: none;
  font-weight: bold;
    text-align: center;
}

.seasons {
  /* position: fixed; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 150px;

  font-size: 24px;
}

.currentDesigner {

  text-align: center;
  font-size: 20px;

  /* height: 10px; */
  margin: 0px;
}

.seasonInd:hover{
  color: rgb(143, 143, 143); 
}


/* Designer Left Column Styling */

.sideNav {

  /* position: absolute; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.itemContainer{

  position: absolute;

  top: 200px;
  left: 400px;
  /* margin: auto; */
}

.designerColumn {
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; 

  /* position: fixed; */

  /* left:50px;
  top: 200px;
  width: 200px; */

  width: 200px;
  margin-left: 40px;

  /* border-width: 10px;
  border-color: black; */
 

  
}

.formDiv {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  /* position: fixed; */
  /* right:50px;
  top: 200px; */
  /* left: 5000px; */
  /* left: 500px;
  /* top: 2px; */ 
  /* top: 0px;
  left: 1000px; */

  width: 200px;

  margin-right: 40px;
}

.designerName{

  display: flex;
  flex-direction: column;
  align-items: center;
}

.designerDelete{

  height: 20px;
  width: 20px;
  text-align: center;
}

/* .designerDelete:hover ~ .designer {
  color: rgb(143, 143, 143);

} */

.designer:hover{
  color: rgb(143, 143, 143); 
}





/* Designer Items Display */

.designerItemsDisplay {

    /* position: absolute; */
    /* margin: auto; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    /* margin-bottom: 0px;
    margin-left: 364.5px;
    margin-right: 364.5px;
    margin-top: 220px; */
    
    /* left:100px; */
    /* top: 10px; */
    width: 800px;
    gap: 40px;

    /* height: 3000px; */


}

.item {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 

  /* position: relative; */

  
  /* border-width: 5px;
  top: 200px; */
  width: 100px;
  /* height: 250px; */

  
  gap: 7px;

  

}

.itemText {

  text-align: center;
  /* height: 5px; */
}

.editButtons {


  /* text-align: center;
  /* position: absolute; */
  /* top: 225px ; */ 

}  

/* Add Item Form Styling */



.form {

  /* position: relative; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* right: 50px;
  top: 300px; */
  width: 200px;
}

.adding{

  font-style: italic;
  font-size: 14px;
  /* padding-bottom: 10px; */


}