#root {
  position: relative;
  /* margin: 0 auto; */
  height: 3000px;
}

body {
  /* position: relative; */
  margin: 0px auto;
  font-family: "Avenir";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Avenir";
  /* display: flex;
  justify-content: center;
} */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Nav Bar Styling */

.nav {
  position: fixed;
  margin: auto;
  text-align: center;

  margin-bottom: 0px;
  margin-left: 364.5px;
  margin-right: 364.5px;
  margin-top: 0px;


  width: 1000px;
  
  border-color: black;
  background-color: rgb(255, 255, 255);
  font-family: "Avenir";
  font-size: 24px;
  color: black;
}

.nav-items {
  color: black;
  text-decoration: none;
  font-weight: bold;
    text-align: center;
}


/* Designer Left Column Styling */

.designerColumn {

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; 

  position: fixed;

  

  left:50px;
  top: 200px;
  width: 200px;

  border-width: 10px;
  border-color: black;
 

  
}

.designerDelete{

  visibility: hidden;
}

.designer:hover{
  color: rgb(143, 143, 143); 
}

.designerName:hover + .designerDelete {
 visibility: visible;

}

/* Designer Items Display */

.designerItemsDisplay {

    position: absolute;
    /* margin: auto; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

    margin-bottom: 0px;
    margin-left: 364.5px;
    margin-right: 364.5px;
    margin-top: 220px;
    
    /* left:100px; */
    /* top: 300px; */
    width: 1000px;
    gap: 60px;

    /* height: 3000px; */


}

.item {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 

  position: relative;

  
  /* border-width: 5px;
  top: 200px; */
  width: 250px;
  height: 250px;

  

}

.editButtons {

  position: absolute;
  top: 225px ;

}

/* Form Styling */

.formDiv {

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; 
  position: fixed;
  right:50px;
  top: 200px;
  width: 300px;
}

.form {

  /* position: relative; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 50px;
  top: 300px;
  width: 300px;
}